.App {
  text-align: center;
}

.App-header {
  display: flex;
}

.App-header>form{
  margin-right: 10px;
}

.App-capsule-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.App-capsule-list>li {
  background-color: #000;
  margin-bottom: 50px;
  margin-right: 2%;
  padding: 10px;
  width: 45%;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
